/* Mobile-first responsive styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

/* Header and logo */
header {
    text-align: center;
    padding: 20px;
    width: 100%;
}

.logo {
    width: 150px;
    height: auto;
}

/* Search */
#dictionary-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 90%; */
    /* max-width: 600px; */
    margin-bottom: 30px;
}

#word-input {
    width: 60%;
    max-width: 400px;
    padding: 15px;
    font-size: 1.2rem;  
    font-family: 'Playfair Display', serif; 
    border: 2px solid #D71920;
    border-radius: 5px;
    margin-right: 15px;
    text-align: left;
}

#search-button {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-family: 'Arial', sans-serif;
    background-color: #D71920;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #A61418;
}

/* Results */
#definition-display {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Keyword */
#keyword {
    font-size: 2rem;
    font-family: 'Playfair Display', serif; 
}

/* Pronunciation */
.pronunciation {
    font-size: 1rem;
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

/* Part of speech */
.part-of-speech {
    font-size: 1rem;
    color: #0047AB;
    margin-top: 10px;
}

/* Definition */
.definition {
    margin-top: 15px;
    font-weight: bold;
}

ul {
    padding-left: 20px;
    margin: 10px 0;
}

/* Etymology */
.etymology {
    font-size: 1rem;
    color: #333;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Sample sentence */
.example-sentences {
    font-size: 1rem;
    color: #333;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Synonyms */
.synonyms {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.synonyms span {
    background-color: #E9ECEF;
    color: #333;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;
}

.synonyms span {
    background-color: #E9ECEF;
    color: #333;
    padding: 8px 12px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;
}

/* Audio */
.audio-player {
    margin: 10px 0;
}

/* For Desktop */
@media (min-width: 768px) {
    #dictionary-search {
        flex-direction: row;
    }

    #word-input {
        margin-right: 10px;
    }
}
